.container {
    width: 940px;
    height: 820px;
    font-family: Arial;
    background-color: #edf2c5;
    margin-left: auto;
    margin-right: auto;
    padding: 36px 160px 35px;
    align-content: center;
}


/* --Text style area-- */


/* title */

.text-style-1 {
    font-size: 44px;
    font-weight: 900;
    text-align: left;
    color: #778a50;
}


/* subtitle */

.text-style-2 {
    font-size: 16px;
    font-weight: 900;
    text-align: left;
    line-height: 1.5;
    color: #edf2c5;
    text-decoration: none;
}


/* button */

.text-style-3 {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    justify-content: center;
    color: #778a50;
}


/* description */

.text-style-4 {
    font-size: 12px;
    text-align: left;
    color: #7d7d7d;
}


/* footer */

.text-style-5 {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    color: #edf2c5;
}


/* nav */

.text-style-6 {
    font-size: 16px;
    font-weight: 900;
    text-align: left;
    line-height: 0.25;
    color: #edf2c5;
    text-decoration: none;
}


/* --Text style area-- */


/* --Header area-- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    width: 271px;
    height: 42px;
}

.header-boxs {
    display: flex;
    height: 25px;
}

.header-boxs-item {
    margin-left: 10px;
}

.divide {
    width: 1px;
    height: 25px;
    background-color: #778a50;
}

.login {
    width: 46px;
    height: 15px;
    padding: 5px 7px;
    border-radius: 3px;
    border: solid 1px #778a50;
}

.login:hover {
    background-color: #778a50;
}

.login:hover>.text-login {
    color: #edf2c5;
}

.join {
    width: 36px;
    height: 15px;
    padding: 5px 7px;
    border-radius: 3px;
    border: solid 1px #778a50;
}

.join:hover {
    background-color: #778a50;
}

.join:hover>.text-join {
    color: #edf2c5;
}


/* --Header area-- */


/* --Nav area-- */

.nav-list {
    width: 940px;
    height: 44px;
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    background-color: #778a50;
    border-radius: 3px;
}

.nav-list-item {
    margin: 16px 30px;
}

.nav-list-item:hover>.nav-list-item-link {
    text-decoration: underline;
}


/* --Nav area-- */

.image-main {
    margin-bottom: 30px;
}


/* --Others area-- */

.others {
    width: 940px;
    display: flex;
    justify-content: space-between;
}

.others-vegetables {
    width: 445px;
    margin-bottom: 35px;
}

.others-vegetables-title {
    width: 99px;
    height: 23px;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 10px 316px 12px 30px;
    background-color: #778a50;
}

.others-vegetables-images {
    width: 445px;
    display: flex;
    justify-content: space-between;
}

.others-contact {
    width: 445px;
    margin-bottom: 35px;
}

.others-contact-title {
    width: 70px;
    height: 23px;
    border-radius: 3px;
    padding: 10px 345px 12px 30px;
    margin-bottom: 15px;
    background-color: #778a50;
}

.others-contact-description {
    width: 415px;
    height: 108px;
    padding: 16px 15px;
    background-color: #f7fbda;
}

.contact-text {
    line-height: 1;
}

.others-contact-description-divide {
    width: 414px;
    height: 1px;
    margin: 15.5px auto;
    background-color: #7d7d7d;
}

.contact-info {
    line-height: 1.83;
}


/* --Others area-- */


/* --Footer area-- */

.footer {
    width: 302px;
    height: 11px;
    padding: 24px 479px 25px;
    margin: 0 auto;
    background-color: #778a50;
}

.footer-copyright {
    margin: 0px auto;
}


/* --Footer area-- */